*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Public Sans', sans-serif;
}
.keep{
    display: none;
  }

  .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
header{
    /* background-color: darkblue; */
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 1064;
}
.enter{
    margin-right: 80px;
}
.enter button{
    width: 80px;
    height: 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 16x;
}
.enter :nth-child(1){
    margin-right: 20px;
    color: darkblue;


}
.enter :nth-child(2){
    background-color: darkblue;
    color: white;
}
.logo h3{
    color: darkblue;
    font-size: 20px;
    padding-left: 45px;
}
.hamburger, .close{
    display: none;
}
.menu-links{
    width: 40%;

}
.menu-links ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}
.menu-links  a{
    text-decoration: none;
    color: darkblue;
    cursor: pointer;
    font-size: 18px;
}
.hide{
    display: none;
}
/* for date */
.current-date{
    position: absolute;
    position: fixed;
    top:90px;
    right: 20px;
    color: darkblue;
    background-color: white;
    border-radius: 5px;
}
/* hero section styling */
.hero-section{
    text-align: center;
    padding-top: 180px;
    margin-bottom: 50px;
}
.hero-p{
    color: darkblue;
    font-size: 18px;
    font-style: italic;
    font-weight: 500;

}
.hero-section h1{
    font-size: 60px;
    line-height: 72px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 20px;
}
.hero-section h1 span{
    font-style: italic;
    font-weight: 400;
    font-family: 'calibri';
}
.hero-para{
    font-size: 18px;
    font-weight: 400;
    color: gray;
    font-style: italic;
    padding-bottom: 20px;
}
.hero-section form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.hero-section form div{
    margin-right: 20px;

}
.hero-section div input{
    height: 30px;
    width: 250px;
    border-radius:5px;
    border: 1px solid gray;
    padding-left: 10px;
}
.hero-section form button{
    width: 180px;
    height: 40px;
    background-color: darkblue;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.control{
    position: relative;
}
small{
    position: absolute;
    top: 36px;
    left: 8px;
}
.recent-blog{
    width: 90%;
    margin: auto;
    margin-bottom: 70px;
}
.recent-blog img{
    border-radius: 10px;
    margin-bottom: 15px;
}
.recent{
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}
.content{
    display: flex;
    width: 100%;
}
.item{
    width: 50%;
}
.side{
    display: flex;
    justify-content: flex-start;
}
.side-details{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.date{
    color: darkblue;
    font-weight: 600;
    padding-bottom: 10px;

}
.side-details button{
    width: 100px;
    height: 25px;
    background-color: darkblue;
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
.side-details div{
    padding-bottom: 10px;
}
.side-details div p{
    text-align: justify;
    padding-top: 10px;
}
#more, #mores{
    display: none;
}
/* for section */
.all-blogs{
    padding-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}
section div hr{
    width: 90%;
    margin: auto;
    margin-bottom: 20px;
    background-color: darkblue;
}
section{
    width: 90%;
    margin: auto;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    width: 90%;
    margin: auto;
}
.container div img{
    border-radius: 10px;
}
.mini-container img{
    margin-bottom: 10px;
}
.mini-container p{
    padding-bottom: 10px;
}
.mini-container h4{
    padding-bottom: 10px;
}
.mini-container div{
    margin-bottom: 20px;
}
.mini-container button{
    width: 100px;
    height: 25px;
    color: darkblue;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
#more-one, #more-two{
    display: none;
}
.miniBlog{
    width: 330px;
    margin-bottom: 10px;
    padding: 10px;
    text-align: justify;
    background-color: rgb(236, 230, 230);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

/* footer */
footer{
    width: 100%;
    margin-top: 50px;
    background-color: rgb(36, 32, 48);

}
.foots{
    color: #ffff;
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    background-color: rgb(36, 32, 48);
    padding-top: 50px;
    padding-bottom: 90px;
}
.mojo{
    display: flex;
    width: 25%;
    flex-direction: column;
}
.mojo h4{
    padding-bottom: 10px;
}
.email{
    border: whitesmoke solid 0.5px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(36, 32, 48);
    margin-right: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    
}
.submit{
    height: 30px;
    width: 40px;
    border-radius: 5px;
    background-color: #f1356d;
    border: none;
    color: white;
}
.mojo p{
    text-align: left;
}
.mojo p{
    color: whitesmoke;
}
.mojo span{
    font-weight: 600;
}
.social{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social h3{
    color: #ffff;
    border-bottom: 20px;
}
.social img{
    width: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.power{
    display: flex;
    flex-direction: column;

}
.power p{
    padding: 10px 0px;
}
.enroll{
    border: whitesmoke solid 0.5px;
    height: 40px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(36, 32, 48);
    color: white;
    
}
@media screen and (max-width:768px) {
    header{
    background-color: darkblue;

    }
    .logo h3{
        color: white;
        padding-left: 0px;
    }
    .hamburger, .close{
    display: block;
}
    .menu-links{
        display: block;
        list-style-type: none;
        position: fixed;
        background-color: darkblue;
        top: 0;
        left: 0;
        height: 100%;
        width:0px;
        text-align: center;
        line-height: 100px;
        transition: 0.3s;
        z-index: 2064;
        overflow-x: hidden;
        

    }
    .menu-links ul{
        display: block;
    }
    .menu-links  a{
        color: white;
    }

    .hamburger{
        position: absolute;
        top: 15px;
        right: 19px;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
    .menu-links ul .close{
        font-size: 50px !important;
        color: white;
        font-size: 30px;
        cursor: pointer;
    }
    #enter{
        display: none;
    }
    .hide{
        display: block;
    }
    .enter{
        position: absolute;
        text-align: center;
    }
    .enter :nth-child(1){
        margin-right: 0px;
    }
    .enter button{
        margin-left:80px ;
        color: darkblue !important; 
        background-color: white !important;
    }
    .hero-section{
        padding-top: 100px;
    }
    .hero-section h1{
        font-size: 45px;
        line-height: 50px;
    }
    .hero-section form{
        flex-direction: column;
        max-width: 50%;
        margin: auto;
        /* border: 1px solid red; */
    }
    .hero-section form input{
        max-width: 80%;
        margin: auto;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    small{
        left: 45px;
    }
    .hero-section form button{
        max-width: 100%;
        margin-top: 20px;
    }
    .recent-blog{
        width: 90%;
        margin: auto;
    }
    .recent-blog img{
        max-width:100% ;
    }
    .content{
        flex-direction: column;
        width: 100%;
    }
    .side{
        flex-direction: column;
    }
    .item{
        width: 100%;
    }
    .side-details{
        padding-left: 0px;
    }
    
    .foots{
        flex-direction: column;
    }
    .mojo, .social, .power{
       width: 100%;
       align-items: center;
       margin-top: 20px;
    }
    .mojo p{
        text-align: center;
        max-width: 400px;
    }
}